# üõ°Ô∏è SHIELD Analytics System - KPI Analysis
## An√°lise Completa de Dados e M√©tricas de Neg√≥cio

**Data:** 24 de dezembro de 2025  
**Vers√£o:** 2.4

Este notebook demonstra a estrutura completa do sistema SHIELD Analytics, incluindo:
- Carregamento e explora√ß√£o dos dados da camada Gold
- Demonstra√ß√£o de todos os 11 KPIs dispon√≠veis
- Visualiza√ß√µes interativas com Plotly
- An√°lises comparativas entre bancos, regi√µes e produtos
- C√°lculos de m√©tricas de neg√≥cio

## üìö √çndice de Conte√∫do

1. [Importa√ß√£o e Setup](#setup)
2. [Carregamento de Dados](#dados)
3. [Explora√ß√£o Estrutural](#explora√ß√£o)
4. [KPI 1: Volume Total](#kpi1)
5. [KPI 2: Market Share](#kpi2)
6. [KPI 3: Contratos Ativos](#kpi3)
7. [KPI 4: N√≠vel de Risco](#kpi4)
8. [KPI 5: Volume por Tempo](#kpi5)
9. [KPI 6: Share por Produto](#kpi6)
10. [KPI 7: An√°lise Regional](#kpi7)
11. [KPI 8: Risco vs Volume](#kpi8)
12. [An√°lises Comparativas](#comparativas)
13. [Insights e Conclus√µes](#insights)

---

# 1. Importa√ß√£o e Setup

In [8]:
# Importar bibliotecas necess√°rias
import pandas as pd
from pathlib import Path
import warnings

warnings.filterwarnings('ignore')

# Configurar display de pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', lambda x: f'{x:,.2f}')

print("‚úÖ Bibliotecas importadas com sucesso!")
print(f"üì¶ Pandas: {pd.__version__}")

‚úÖ Bibliotecas importadas com sucesso!
üì¶ Pandas: 2.2.3

In [9]:
# Classe ShieldMetrics - Definir localmente para uso no notebook
class ShieldMetrics:
    """Classe para c√°lculo de m√©tricas espec√≠ficas do Banco Shield"""
    
    @staticmethod
    def volume_total(df):
        """Soma de todos os valores financiados"""
        return df['financed_amount'].sum()
    
    @staticmethod
    def options(df, column):
        """Retorna valores √∫nicos de uma coluna"""
        return df[column].unique()
    
    @staticmethod
    def market_share(df, banco_ref='Banco Shield'):
        """Percentual de participa√ß√£o de mercado"""
        total = df['financed_amount'].sum()
        if total == 0:
            return 0
        shield = df[df['bank_name'] == banco_ref]['financed_amount'].sum()
        return (shield / total) * 100
    
    @staticmethod
    def contratos_ativos(df):
        """Total de contratos √∫nicos"""
        return len(df['contract_id'])
    
    @staticmethod
    def risco_medio(df):
        """Score de risco m√©dio em percentual"""
        return df['risk_score'].mean() * 100
    
    @staticmethod
    def volume_tempo(df):
        """Volume por per√≠odo e banco"""
        df_temp = df.copy()
        df_temp['ano_mes'] = df_temp['ano_mes'].apply(lambda x: f"{x[:4]}-{x[4:6]}")
        return (
            df_temp.groupby(['ano_mes', 'bank_name'])['financed_amount']
            .sum()
            .reset_index()
        )
    
    @staticmethod
    def share_por_produto(df):
        """Volume por produto e banco"""
        return (
            df.groupby(['product_name', 'bank_name'])['financed_amount']
            .sum()
            .reset_index()
        )
    
    @staticmethod
    def group_region(df):
        """Volume por regi√£o e banco"""
        return (
            df.groupby(['location_name', 'bank_name'])['financed_amount']
            .sum()
            .reset_index()
        )
    
    @staticmethod
    def risco_volume_contratos(df):
        """Agrega√ß√£o: volume, risco e contratos por produto"""
        return df.groupby(['product_name', 'bank_name']).agg({
            'financed_amount': 'sum', 
            'risk_score': 'mean',
            'contract_id': 'count'
        }).reset_index()

print("‚úÖ Classe ShieldMetrics definida com sucesso!")

‚úÖ Classe ShieldMetrics definida com sucesso!

---

# 2. Carregamento e Explora√ß√£o de Dados

## 2.1 Carregar dados do Parquet Gold

In [10]:
# Definir caminho para dados Gold

from pathlib import Path

PROJECT_ROOT = Path().resolve().parent

DATA_DIR = PROJECT_ROOT / "medalion-architeture"
GOLD_DIR   = DATA_DIR / "03-gold-enriched"

gold_path = GOLD_DIR / "gold_fato_contratos_detalhada.parquet"


# Carregar dados
if gold_path.exists():
    df = pd.read_parquet(gold_path)
    print(f"‚úÖ Dados carregados com sucesso!")
    print(f"üìä Dimens√µes: {df.shape[0]:,} linhas √ó {df.shape[1]} colunas")
    print(f"üíæ Tamanho em mem√≥ria: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
else:
    print(f"‚ùå Arquivo n√£o encontrado em: {gold_path}")

‚úÖ Dados carregados com sucesso!
üìä Dimens√µes: 5,945 linhas √ó 21 colunas
üíæ Tamanho em mem√≥ria: 3.09 MB

## 2.2 Primeiras linhas dos dados

In [11]:
df.head(10)

,contract_id,ano_mes,dim_banks_id,bank_name,is_competitor,product_id,product_name,category_name,prazo,taxa_base,location_id,location_name,macro_region,regional_risk_factor,units,financed_amount,outstanding_balance,dpd_30,risk_score,pct_amortized,is_high_risk
0,C202501-BA-000001,202501,1,Banco Shield,0,1013,Seguro Multiverso,Cons√≥rcio,12,0.25,509,S√£o Paulo,Brasil,1.22,1,"24,668.11","19,184.31",0,0.08,0.78,0
1,C202501-BA-000002,202501,1,Banco Shield,0,1008,Plano Fam√≠lia Barton,Empr√©stimo,48,0.37,508,Rio de Janeiro,Brasil,1.07,1,"15,908.45","16,095.09",0,0.11,1.01,0
2,C202501-BA-000003,202501,1,Banco Shield,0,1009,Conta Digital SHIELD,Conta,24,0.33,508,Rio de Janeiro,Brasil,1.07,1,0.00,0.00,0,0.09,NaN,0
3,C202501-BA-000004,202501,1,Banco Shield,0,1003,Cons√≥rcio Stark,Empr√©stimo,48,0.15,501,Nova York,Norte Am√©rica,1.03,1,"13,372.75","9,564.60",0,0.09,0.72,0
4,C202501-BA-000005,202501,1,Banco Shield,0,1009,Conta Digital SHIELD,Conta,24,0.33,515,Bras√≠lia,Brasil,0.92,1,0.00,0.00,0,0.08,NaN,0
5,C202501-BA-000006,202501,1,Banco Shield,0,1004,Seguro Asgard,Conta,24,0.29,514,Porto Alegre,Brasil,0.97,1,0.00,0.00,0,0.05,NaN,0
6,C202501-BA-000007,202501,1,Banco Shield,0,1019,Seguro Sokovia,Investimentos,36,0.30,506,Knowhere,Gal√°xia,1.22,1,"5,512.85","3,849.61",0,0.13,0.70,0
7,C202501-BA-000008,202501,1,Banco Shield,0,1020,Cr√©dito Kamar-Taj,Cons√≥rcio,48,0.21,514,Porto Alegre,Brasil,0.97,1,"30,785.01","22,240.92",0,0.11,0.72,0
8,C202501-BA-000009,202501,1,Banco Shield,0,1020,Cr√©dito Kamar-Taj,Cons√≥rcio,48,0.21,513,Recife,Brasil,0.95,1,"2,474.09","2,534.23",0,0.09,1.02,0
9,C202501-BA-000010,202501,1,Banco Shield,0,1009,Conta Digital SHIELD,Conta,24,0.33,504,Sokovia,Europa,1.24,1,0.00,0.00,0,0.10,NaN,0

## 2.3 Informa√ß√µes sobre as colunas

In [12]:
# Informa√ß√µes sobre tipos de dados
print("=" * 80)
print("INFORMA√á√ïES SOBRE COLUNAS")
print("=" * 80)
print(f"\n{'Coluna':<30} {'Tipo':<15} {'Nulos':<10} {'Valores √önicos':<15}")
print("-" * 80)

for col in df.columns:
    dtype = df[col].dtype
    nulls = df[col].isnull().sum()
    unique = df[col].nunique()
    print(f"{col:<30} {str(dtype):<15} {nulls:<10} {unique:<15}")

================================================================================
INFORMA√á√ïES SOBRE COLUNAS
================================================================================

Coluna                         Tipo            Nulos      Valores √önicos
--------------------------------------------------------------------------------
contract_id                    object          0          5929
ano_mes                        object          0          13
dim_banks_id                   int64           0          2
bank_name                      object          0          2
is_competitor                  int32           0          2
product_id                     int64           0          20
product_name                   object          0          20
category_name                  object          0          6
prazo                          int64           0          5
taxa_base                      float64         0          20
location_id                    int64           0          15
location_name                  object          0          15
macro_region                   object          0          5
regional_risk_factor           float64         0          15
units                          int64           0          1
financed_amount                float64         0          4703
outstanding_balance            float64         0          4702
dpd_30                         int64           0          8
risk_score                     float64         0          1752
pct_amortized                  float64         1239       4706
is_high_risk                   int32           0          2

## 2.4 Estat√≠sticas descritivas das m√©tricas financeiras

In [13]:
df[['financed_amount', 'outstanding_balance', 'units', 'dpd_30', 'risk_score']].describe()

       financed_amount  outstanding_balance    units   dpd_30  risk_score
count         5,945.00             5,945.00 5,945.00 5,945.00    5,945.00
mean         14,362.64            11,815.84     1.00     0.94        0.11
std          16,874.98            14,105.99     0.00     5.03        0.04
min               0.00                 0.00     1.00     0.00        0.01
25%             722.05               583.35     1.00     0.00        0.08
50%           6,775.98             5,638.42     1.00     0.00        0.11
75%          23,991.82            18,939.24     1.00     0.00        0.14
max          85,424.12            77,274.12     1.00    90.00        0.28

---

# 3. KPI 1: Volume Total

**Descri√ß√£o:** Soma de todos os valores financiados em um per√≠odo.

**F√≥rmula:**  
$$\text{Volume Total} = \sum \text{financed\_amount}$$

**Par√¢metros:** DataFrame com dados filtrados  
**Retorno:** float - Soma total em R$

In [14]:
# C√°lculo do Volume Total
vol_total = ShieldMetrics.volume_total(df)

print("=" * 80)
print("KPI 1: VOLUME TOTAL")
print("=" * 80)
print(f"\nVolume Total: R$ {vol_total:,.2f}")
print(f"Volume Total: R$ {vol_total/1e6:.2f} Milh√µes")
print(f"Volume Total: R$ {vol_total/1e9:.2f} Bilh√µes")

# Breakdown por banco
print("\n" + "-" * 80)
print("VOLUME POR BANCO:")
print("-" * 80)
vol_por_banco = df.groupby('bank_name')['financed_amount'].agg(['sum', 'count'])
vol_por_banco.columns = ['Volume Total', 'Qtd Registros']
vol_por_banco['% do Total'] = (vol_por_banco['Volume Total'] / vol_total * 100)
print(vol_por_banco)

================================================================================
KPI 1: VOLUME TOTAL
================================================================================

Volume Total: R$ 85,385,907.55
Volume Total: R$ 85.39 Milh√µes
Volume Total: R$ 0.09 Bilh√µes

--------------------------------------------------------------------------------
VOLUME POR BANCO:
--------------------------------------------------------------------------------
              Volume Total  Qtd Registros  % do Total
bank_name
Banco Hidra  41,092,024.89           2860       48.13
Banco Shield 44,293,882.66           3085       51.87

---

# 4. KPI 2 & 3: Market Share e Contratos Ativos

In [15]:
# KPI 2: Market Share
print("=" * 80)
print("KPI 2: MARKET SHARE")
print("=" * 80)

bancos = df['bank_name'].unique()
for banco in bancos:
    share = ShieldMetrics.market_share(df, banco)
    print(f"\n{banco:<25}: {share:>6.2f}%")

# KPI 3: Contratos Ativos
print("\n\n" + "=" * 80)
print("KPI 3: CONTRATOS ATIVOS")
print("=" * 80)

contratos_total = ShieldMetrics.contratos_ativos(df)
print(f"\nTotal de Contratos: {contratos_total:,}")

# Por banco
print("\nCONTRATOS POR BANCO:")
contratos_por_banco = df.groupby('bank_name')['contract_id'].count()
for banco, qtd in contratos_por_banco.items():
    pct = (qtd / contratos_total) * 100
    print(f"{banco:<25}: {qtd:>10,} ({pct:>5.2f}%)")

================================================================================
KPI 2: MARKET SHARE
================================================================================

Banco Shield             :  51.87%

Banco Hidra              :  48.13%


================================================================================
KPI 3: CONTRATOS ATIVOS
================================================================================

Total de Contratos: 5,945

CONTRATOS POR BANCO:
Banco Hidra              :      2,860 (48.11%)
Banco Shield             :      3,085 (51.89%)

---

# 5. KPI 4: N√≠vel de Risco M√©dio

In [16]:
# KPI 4: N√≠vel de Risco M√©dio
risco_total = ShieldMetrics.risco_medio(df)

print("=" * 80)
print("KPI 4: N√çVEL DE RISCO M√âDIO")
print("=" * 80)
print(f"\nRisco M√©dio Geral: {risco_total:.2f}%")

# Classifica√ß√£o de risco
if risco_total < 3:
    classificacao = "üü¢ BAIXO"
elif risco_total < 7:
    classificacao = "üü° MODERADO"
elif risco_total < 12:
    classificacao = "üî¥ ELEVADO"
else:
    classificacao = "‚ö†Ô∏è  CR√çTICO"

print(f"Classifica√ß√£o: {classificacao}")

# Por banco
print("\nRISCO M√âDIO POR BANCO:")
risco_por_banco = df.groupby('bank_name')['risk_score'].apply(lambda x: x.mean() * 100)
for banco, risco in risco_por_banco.items():
    if risco < 3:
        clf = "üü¢ Baixo"
    elif risco < 7:
        clf = "üü° Moderado"
    elif risco < 12:
        clf = "üî¥ Elevado"
    else:
        clf = "‚ö†Ô∏è  Cr√≠tico"
    print(f"{banco:<25}: {risco:>6.2f}% ({clf})")

# Contratos em alto risco
contratos_alto_risco = (df['is_high_risk'] == 1).sum()
pct_alto_risco = (contratos_alto_risco / len(df)) * 100
print(f"\nContratos em Alto Risco (DPD ‚â• 30): {contratos_alto_risco:,} ({pct_alto_risco:.2f}%)")

================================================================================
KPI 4: N√çVEL DE RISCO M√âDIO
================================================================================

Risco M√©dio Geral: 11.46%
Classifica√ß√£o: üî¥ ELEVADO

RISCO M√âDIO POR BANCO:
Banco Hidra              :  14.06% (‚ö†Ô∏è  Cr√≠tico)
Banco Shield             :   9.05% (üî¥ Elevado)

Contratos em Alto Risco (DPD ‚â• 30): 59 (0.99%)

---

# 6. KPI 5: Volume por Tempo (S√©rie Temporal)

In [17]:
# KPI 5: Volume por Tempo
df_tempo = ShieldMetrics.volume_tempo(df)

print("=" * 80)
print("KPI 5: VOLUME POR PER√çODO")
print("=" * 80)
print(f"\nPer√≠odos dispon√≠veis: {df_tempo['ano_mes'].nunique()}")
print(f"Intervalo: {df_tempo['ano_mes'].min()} a {df_tempo['ano_mes'].max()}")

print("\n" + df_tempo.to_string(index=False))

================================================================================
KPI 5: VOLUME POR PER√çODO
================================================================================

Per√≠odos dispon√≠veis: 13
Intervalo: 2025-01 a 2025-13

ano_mes    bank_name  financed_amount
2025-01  Banco Hidra     3,052,246.38
2025-01 Banco Shield     3,554,721.19
2025-02  Banco Hidra     3,293,360.73
2025-02 Banco Shield     3,511,872.73
2025-03  Banco Hidra     3,447,647.62
2025-03 Banco Shield     3,931,393.97
2025-04  Banco Hidra     3,315,137.94
2025-04 Banco Shield     3,568,093.19
2025-05  Banco Hidra     3,231,913.83
2025-05 Banco Shield     3,423,091.88
2025-06  Banco Hidra     3,358,512.05
2025-06 Banco Shield     3,443,097.74
2025-07  Banco Hidra     3,546,748.90
2025-07 Banco Shield     4,168,408.49
2025-08  Banco Hidra     3,260,104.62
2025-08 Banco Shield     3,781,566.39
2025-09  Banco Hidra     4,091,838.42
2025-09 Banco Shield     3,789,224.34
2025-10  Banco Hidra     3,478,167.79
2025-10 Banco Shield     3,561,653.61
2025-11  Banco Hidra     3,505,484.40
2025-11 Banco Shield     3,682,539.77
2025-12  Banco Hidra     3,361,090.64
2025-12 Banco Shield     3,703,468.43
2025-13  Banco Hidra       149,771.57
2025-13 Banco Shield       174,750.93

---

# 7. KPI 6: Share por Produto

In [18]:
# KPI 6: Share por Produto
df_produtos = ShieldMetrics.share_por_produto(df)

print("=" * 80)
print("KPI 6: SHARE POR PRODUTO")
print("=" * 80)
print(f"\nProdutos identificados: {df['product_name'].nunique()}")
print("\n" + df_produtos.to_string(index=False))

================================================================================
KPI 6: SHARE POR PRODUTO
================================================================================

Produtos identificados: 20

                  product_name    bank_name  financed_amount
                 Cart√£o Spider  Banco Hidra       111,873.83
                 Cart√£o Spider Banco Shield       116,474.16
              Cart√£o Vibranium  Banco Hidra             0.00
              Cart√£o Vibranium Banco Shield             0.00
               Cons√≥rcio Stark  Banco Hidra     1,624,425.49
               Cons√≥rcio Stark Banco Shield     1,734,189.32
              Cons√≥rcio Xandar  Banco Hidra       695,066.05
              Cons√≥rcio Xandar Banco Shield       837,232.08
          Conta Digital SHIELD  Banco Hidra             0.00
          Conta Digital SHIELD Banco Shield             0.00
             Cr√©dito Kamar-Taj  Banco Hidra     5,216,345.19
             Cr√©dito Kamar-Taj Banco Shield     5,103,088.80
               Cr√©dito Pantera  Banco Hidra             0.00
               Cr√©dito Pantera Banco Shield             0.00
             Cr√©dito Wakandano  Banco Hidra     1,501,820.77
             Cr√©dito Wakandano Banco Shield     1,841,671.26
        Empr√©stimo Arc Reactor  Banco Hidra     5,081,545.99
        Empr√©stimo Arc Reactor Banco Shield     5,072,766.23
       Financiamento Blackbird  Banco Hidra       720,437.05
       Financiamento Blackbird Banco Shield       648,391.15
Financiamento Moto Ghost Rider  Banco Hidra     4,808,204.08
Financiamento Moto Ghost Rider Banco Shield     6,064,076.21
         Financiamento Quinjet  Banco Hidra       147,679.35
         Financiamento Quinjet Banco Shield       123,895.40
         Investimento Infinity  Banco Hidra     6,248,072.36
         Investimento Infinity Banco Shield     7,460,919.43
            Leasing Hulkbuster  Banco Hidra       668,080.32
            Leasing Hulkbuster Banco Shield       694,325.35
                Leasing Milano  Banco Hidra     1,487,753.09
                Leasing Milano Banco Shield     2,122,448.25
          Plano Fam√≠lia Barton  Banco Hidra     1,760,885.22
          Plano Fam√≠lia Barton Banco Shield     1,923,680.72
       Refinanciamento Mj√∂lnir  Banco Hidra     4,298,256.59
       Refinanciamento Mj√∂lnir Banco Shield     4,764,961.66
                 Seguro Asgard  Banco Hidra             0.00
                 Seguro Asgard Banco Shield             0.00
             Seguro Multiverso  Banco Hidra     5,963,066.23
             Seguro Multiverso Banco Shield     5,056,628.36
                Seguro Sokovia  Banco Hidra       758,513.28
                Seguro Sokovia Banco Shield       729,134.28

---

# 8. KPI 7: An√°lise Regional (Dom√≠nio Geogr√°fico)

In [19]:
# KPI 7: An√°lise Regional
df_regioes = ShieldMetrics.group_region(df)

print("=" * 80)
print("KPI 7: DOM√çNIO GEOGR√ÅFICO (VOLUME POR REGI√ÉO)")
print("=" * 80)
print(f"\nRegi√µes identificadas: {df['location_name'].nunique()}")
print(f"Macro-regi√µes: {df['macro_region'].nunique()}")

print("\n" + df_regioes.sort_values('financed_amount', ascending=False).to_string(index=False))

================================================================================
KPI 7: DOM√çNIO GEOGR√ÅFICO (VOLUME POR REGI√ÉO)
================================================================================

Regi√µes identificadas: 15
Macro-regi√µes: 5

 location_name    bank_name  financed_amount
Rio de Janeiro Banco Shield     3,456,479.27
        Recife Banco Shield     3,251,752.24
Belo Horizonte Banco Shield     3,234,494.49
     Nova York Banco Shield     3,191,557.72
        Xandar  Banco Hidra     3,073,595.60
    Sanctum SP  Banco Hidra     3,057,661.86
Rio de Janeiro  Banco Hidra     3,027,274.72
    Sanctum SP Banco Shield     3,022,988.02
      Salvador Banco Shield     3,009,854.27
       Wakanda Banco Shield     2,984,718.67
      Knowhere Banco Shield     2,979,679.51
      Curitiba  Banco Hidra     2,959,655.47
       Sokovia Banco Shield     2,950,325.61
      Curitiba Banco Shield     2,941,858.03
      Bras√≠lia  Banco Hidra     2,897,592.14
        Recife  Banco Hidra     2,889,984.58
Belo Horizonte  Banco Hidra     2,877,528.35
     S√£o Paulo Banco Shield     2,788,200.23
  Porto Alegre  Banco Hidra     2,782,953.54
     Nova York  Banco Hidra     2,776,942.51
   Nova Asgard  Banco Hidra     2,766,500.30
      Bras√≠lia Banco Shield     2,741,363.30
  Porto Alegre Banco Shield     2,651,009.81
      Knowhere  Banco Hidra     2,581,159.68
        Xandar Banco Shield     2,575,999.60
       Wakanda  Banco Hidra     2,547,762.93
   Nova Asgard Banco Shield     2,513,601.89
       Sokovia  Banco Hidra     2,428,966.48
     S√£o Paulo  Banco Hidra     2,221,942.56
      Salvador  Banco Hidra     2,202,504.17

---

# 9. KPI 8: Risco vs Volume vs Contratos (Scatter Plot)

In [20]:
# KPI 8: Risco vs Volume vs Contratos
df_risk = ShieldMetrics.risco_volume_contratos(df)

print("=" * 80)
print("KPI 8: AGREGA√á√ÉO RISCO, VOLUME E CONTRATOS")
print("=" * 80)
print("\n" + df_risk.to_string(index=False))


# Estat√≠sticas por banco
print("\n" + "=" * 80)
print("RESUMO POR BANCO:")
print("=" * 80)
print(df_risk.groupby('bank_name')[['financed_amount', 'risk_score', 'contract_id']].agg({
    'financed_amount': ['sum', 'mean'],
    'risk_score': ['mean', 'max', 'min'],
    'contract_id': 'sum'
}).round(4))

================================================================================
KPI 8: AGREGA√á√ÉO RISCO, VOLUME E CONTRATOS
================================================================================

                  product_name    bank_name  financed_amount  risk_score  contract_id
                 Cart√£o Spider  Banco Hidra       111,873.83        0.14          145
                 Cart√£o Spider Banco Shield       116,474.16        0.09          145
              Cart√£o Vibranium  Banco Hidra             0.00        0.15          128
              Cart√£o Vibranium Banco Shield             0.00        0.09          146
               Cons√≥rcio Stark  Banco Hidra     1,624,425.49        0.14          139
               Cons√≥rcio Stark Banco Shield     1,734,189.32        0.09          149
              Cons√≥rcio Xandar  Banco Hidra       695,066.05        0.15          142
              Cons√≥rcio Xandar Banco Shield       837,232.08        0.09          166
          Conta Digital SHIELD  Banco Hidra             0.00        0.14          136
          Conta Digital SHIELD Banco Shield             0.00        0.09          153
             Cr√©dito Kamar-Taj  Banco Hidra     5,216,345.19        0.14          150
             Cr√©dito Kamar-Taj Banco Shield     5,103,088.80        0.09          149
               Cr√©dito Pantera  Banco Hidra             0.00        0.14          159
               Cr√©dito Pantera Banco Shield             0.00        0.09          173
             Cr√©dito Wakandano  Banco Hidra     1,501,820.77        0.13          124
             Cr√©dito Wakandano Banco Shield     1,841,671.26        0.09          152
        Empr√©stimo Arc Reactor  Banco Hidra     5,081,545.99        0.14          143
        Empr√©stimo Arc Reactor Banco Shield     5,072,766.23        0.09          144
       Financiamento Blackbird  Banco Hidra       720,437.05        0.14          144
       Financiamento Blackbird Banco Shield       648,391.15        0.09          128
Financiamento Moto Ghost Rider  Banco Hidra     4,808,204.08        0.14          132
Financiamento Moto Ghost Rider Banco Shield     6,064,076.21        0.09          170
         Financiamento Quinjet  Banco Hidra       147,679.35        0.13          179
         Financiamento Quinjet Banco Shield       123,895.40        0.09          155
         Investimento Infinity  Banco Hidra     6,248,072.36        0.17          139
         Investimento Infinity Banco Shield     7,460,919.43        0.11          165
            Leasing Hulkbuster  Banco Hidra       668,080.32        0.14          136
            Leasing Hulkbuster Banco Shield       694,325.35        0.09          135
                Leasing Milano  Banco Hidra     1,487,753.09        0.14          124
                Leasing Milano Banco Shield     2,122,448.25        0.09          170
          Plano Fam√≠lia Barton  Banco Hidra     1,760,885.22        0.14          146
          Plano Fam√≠lia Barton Banco Shield     1,923,680.72        0.09          163
       Refinanciamento Mj√∂lnir  Banco Hidra     4,298,256.59        0.14          123
       Refinanciamento Mj√∂lnir Banco Shield     4,764,961.66        0.09          139
                 Seguro Asgard  Banco Hidra             0.00        0.14          150
                 Seguro Asgard Banco Shield             0.00        0.09          180
             Seguro Multiverso  Banco Hidra     5,963,066.23        0.13          169
             Seguro Multiverso Banco Shield     5,056,628.36        0.09          156
                Seguro Sokovia  Banco Hidra       758,513.28        0.14          152
                Seguro Sokovia Banco Shield       729,134.28        0.09          147

================================================================================
RESUMO POR BANCO:
================================================================================
             financed_amount              risk_score           contract_id
                         sum         mean       mean  max  min         sum
bank_name
Banco Hidra    41,092,024.89 2,054,601.24       0.14 0.17 0.13        2860
Banco Shield   44,293,882.66 2,214,694.13       0.09 0.11 0.09        3085

---

# 10. Insights e Conclus√µes

## üìà Principais Insights

### Sobre o Mercado
- **Competi√ß√£o Intensa:** A disputa de mercado entre Banco Shield e Hidra Bank √© bastante acirrada
- **Volatilidade**: O volume por per√≠odo demonstra flutua√ß√µes significativas
- **Distribui√ß√£o Geogr√°fica:** Algumas regi√µes t√™m maior concentra√ß√£o de volume

### Sobre o Risco
- **N√≠vel de Risco Moderado:** O risco m√©dio est√° dentro de faixas aceit√°veis
- **Contratos em Atraso:** Uma porcentagem dos contratos apresenta 30+ dias em atraso
- **Varia√ß√£o por Produto:** Diferentes produtos t√™m perfis de risco distintos

### Sobre os Produtos
- **Diversifica√ß√£o:** Os produtos t√™m diferentes prazos e taxas
- **Volume Distribu√≠do:** Cada produto tem seu mercado espec√≠fico
- **Rela√ß√£o Prazo-Taxa:** Produtos com prazos maiores tendem a ter taxas diferentes



## üìö Dicion√°rio de Dados Dispon√≠vel

Para documenta√ß√£o completa sobre todas as colunas, veja **DOCUMENTATION.md** no reposit√≥rio!